/* CSS переменные цветов и шрифтов */
:root {
    --bg: #121212;
    --bg-secondary: #333333;
    --bg-header: #2c2c2ccc; /*cc - 80% прозрачности, 99 - 60% */
    --text-color: #e6e6e6;
    --accent-color: #8843D6;
    --primary-color: #1533ad;
    --secondary-color: #2ed6c8;
    --tertiary-color: #ff9900;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    --transition: all 0.2s ease;
    
    /* Шрифты */
    --font-accent: 'Gagalin', cursive;
    --font-heading: 'Montserrat', sans-serif;
    --font-body: 'Gadugi', sans-serif;
}

[data-theme="light"] {
    --bg: #e2dcf8;
    --bg-secondary: #f5f5f5;
    --bg-header: #cfcfcfcc;
    --text-color: #1a1a1a;
    --accent-color: #C8AAF8;
    --primary-color: #9BB5FF;
    --secondary-color: #84F6E3;
    --tertiary-color: #FFCA86;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);
}

body {
    font-family: var(--font-body);
    color: var(--text-color);
    background-color: var(--bg);
    transition: var(--transition);
}

h1 {
    font-family: var(--font-accent);
    font-weight: 400;
}

h2 {
    font-family: var(--font-heading);
    font-weight: 700;
}

h3 {
    font-family: var(--font-heading);
    font-weight: 600;
}

.container {
    background-color: var(--bg-secondary);
}

/* Responsive Grid